@import './utils/variables';
@import './base/normalize';
@import './components/logo';
@import './components/header/header';
@import './components/header/navigation';
@import './components/header/container-header';
@import './components/header/contact';
@import './components/main/main';
@import './components/main/hero';
@import './components/main/features';
@import './components/main/specialization';
@import './components/main/team';