 /*Синий оверлей с текстом на карточках страницы Портфолио*/
 .projects__thumb {
    position: relative;
    overflow: hidden;
}
  
.projects__card-vishid {
    font-size: 18px;
    line-height: 1.56;
  
    color: var(--color-white);
    background-color: var(--color-blue09);
  
    padding: 63px 24px;
  
    position: absolute;
  
    transform: translatey(0);
    transition: transform var(--transition-duration)
      var(--transition-timing-function);
  }
  
  .main-portfolio-project .link:hover .card-visually-hidden,
  .main-portfolio-project .link:focus .card-visually-hidden {
    transform: translatey(-100%);
  }