.container-type-projects {
    max-width: 612px;
    margin: 0 auto;
    padding-bottom: 22px;
}

.type-projects__list {
    display: flex;
}

.type-projects__item:not(:last-child) {
    margin-right: 8px;
}

.type-project__button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;

    background-color: var(--color-white-bgr);
  
    padding: 6px 22px;

    border-radius: 4px;
    border: none;

    @include transition(background-color, color, box-shadow);

    &:hover,
    &:focus {
        background-color: var(--color-blue);
        color: var(--color-white);
        box-shadow: var(--filtr-shadow);
    }
}
  
  
  


  

