/*icon networks*/
.social-networks__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-networks__item:not(:last-child) {
  margin-right: 10px;
}

.social-networks__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-color: var(--color-white);
  color: var(--color-gray);

  display: flex;
  justify-content: center;
  align-items: center;

  @include transition(background-color, color);

  &:hover,
  &:focus {
    background-color: var(--color-blue);
    color: var(--color-white);
  }
}
