.footer__contact {
  margin-right: 70px;
}

.address {
  margin-top: 20px;
}

.address__link {
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;

  display: block;

  &:not(:first-child) {
    margin-top: 9px;
  }
}

.address__link--geo {
  color: var(--color-white);
}

.address__link--contact {
  color: var(--color-gray06);
}
