.contact-list {
    display: flex;
    align-items: center;

    color: var(--color-gray);

    margin-left: auto;
  }

.contact-list__item:first-child {
    margin-right: 50px;
}

.contact-list__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    padding: 32px 0;
    display: block;

    transition: color var(--transition-duration) var(--transition-timing-function);
    
    display: flex;
    align-items: center;

    color: var(--color-gray);

    &:hover,
    &:focus {
        color: var(--color-blue);
    }
}

.contact-list__icon{
    margin-right: 10px;
}