/*section:not(.main-hero) {
  /*все селекторы кроме Героя
  padding-top: 94px;
}

section:last-child {
  /*последний селектор страницы
  padding-bottom: 94px;
}*/

/*Logo*/

/*Header*/

/*NAV*/




/**/


/*icon mail, tel*/
.icon {
  fill: currentColor;

  margin-right: 10px;
}

/*hover link contact and icon*/


.header-cont,
.header-cont .item,
.header-cont-static {
  display: flex;
  align-items: center;
  color: var(--gray-text);
}

.header-cont {
  margin-left: auto;
}



.header-cont .item:first-child {
  margin-right: 50px;
}



/*линия внизу header*/


/*Main*/
/*hero*/
.main-hero {
  max-width: 1600px;
  height: 600px;
  text-align: center;
  background-color: grey;

  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-hero-tittle {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
  margin-bottom: 30px;
}

.main-hero-bt {
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--color-white);
  background-color: var(--blue-text);

  padding: 10px 32px;
  border-radius: 4px;
}

.main-hero-container {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 696px;
  margin: 0 auto;
}

/*accomplishments*/
.main-accomplishments .container {
  padding-top: var(--pad-container);
  padding-bottom: var(--pad-container);
}

.main-accomplishments .name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-top: 30px;
}

.main-accomplishments .item .description {
  font-size: 14px;
  line-height: 1.71;
  color: var(--gray-text);

  margin: 10px 0 0 0;
}

.main-accomplishments-ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--set-gap));
}

.main-accomplishments-ul .item {
  flex-basis: calc(100% / 4 - var(--set-gap));
  margin-left: var(--set-gap);
}

/*icon accomplishments*/
.frame-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 120px;
  background-color: var(--bgr-wgray);
  border-radius: 4px;
}

/*employment*/
.main-employment .container {
  padding-bottom: var(--pad-container);
}

.main-employment h2,
.main-team h2,
.main-customers h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.main-employment-ul {
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--set-gap));
}

.main-employment-ul .item {
  flex-basis: calc(100% / 3 - var(--set-gap));
  margin-left: var(--set-gap);
}

/*employment position*/
.main-employment-ul .thumb {
  position: relative;
}

.main-employment-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
  width: 100%;

  background-color: var(--bgr-employment);
  padding-top: 27px;
  padding-bottom: 27px;

  position: absolute;
  left: 0;
  bottom: 0;
}

/*team*/
.main-team {
  background-color: var(--bgr-wgray);
}

.main-team .container {
  padding-top: var(--pad-container);
  padding-bottom: var(--pad-container);
}

.main-team-frame {
  padding: 30px 32px;
}

.main-team-ul .name,
.main-team-ul .specialty {
  font-size: 16px;
  line-height: 1.9;
}

.main-team-ul .name {
  font-weight: 500;

  text-align: center;
}

.main-team-ul .specialty {
  color: var(--gray-text);

  margin-top: 10px;
  text-align: center;
}

.main-team h2 {
  margin-bottom: 50px;
}

.main-team-ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--set-gap));
  margin-left: calc(-1 * var(--set-gap));
}

.main-team-ul > .item {
  background-color: var(--color-white);

  border-radius: 0px 0px 4px 4px;
  box-shadow: var(--team-shadow);
  flex-basis: calc(100% / 4 - var(--set-gap));
  margin-top: var(--set-gap);
  margin-left: var(--set-gap);
}

/*icon networks*/
.social-networks {
  margin-top: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.social-networks .link {
  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-color: var(--color-white);
  color: var(--gray-text);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color var(--transition-duration)
      var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function);
}

.icon-networks {
  fill: currentColor;
}

.social-networks .item:not(:last-child) {
  margin-right: 10px;
}

/*hover icon networks*/
.social-networks .link:hover,
.social-networks .link:focus {
  background-color: var(--blue-text);
  color: var(--color-white);
}

/*customers*/

.main-customers .container {
  padding-top: var(--pad-container);
  padding-bottom: var(--pad-container);
}

.main-customers h2 {
  margin-bottom: 70px;
}

.main-customers-ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--set-gap));
  margin-top: calc(-1 * var(--set-gap));
}

.main-customers-ul .item {
  flex-basis: calc(100% / 6 - var(--set-gap));
  margin-left: var(--set-gap);
  margin-top: var(--set-gap);
}

.main-customers-ul .link {
  min-height: 88px;
  border-radius: 4px;

  color: var(--bord-customers);
  border: 1px solid var(--bord-customers);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: border-color var(--transition-duration)
      var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function);
}

.customers-icon {
  fill: currentColor;
}

.main-customers-ul .link:hover,
.main-customers-ul .link:focus {
  color: var(--blue-text);
  border-color: var(--blue-text);
}

/*Footer*/

.footer {
  background-color: var(--bgr-hero-footer);
}

.footer-address a {
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;

  display: block;
}

.footer-address-geo {
  color: var(--color-white);
}

.footer-address-mailtel {
  color: var(--gray-op06-text);
}

.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;

  display: flex;
  align-items: baseline;
}

.footer-address {
  margin-top: 20px;
}

.footer-address a:not(:first-child) {
  margin-top: 9px;
}

.frame-address {
  margin-right: 70px;
}

/*footer network*/
.footer-network {
  margin-right: 93px;
}

.footer-network h2 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--color-white);
  text-transform: uppercase;
}

.footer-network .social-networks {
  margin: 0;
  padding-top: 20px;
}

.footer-network .link {
  background-color: var(--gray-op01-bgicon);
  color: var(--color-white);
}

/*Рассылка*/
.footer-subscription h2 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--color-white);
  text-transform: uppercase;

  margin-bottom: 20px;
}

.form-footer {
  display: flex;
}

.form-footer-input {
  width: 326px;

  padding: 14px 16px;
  margin-right: 10px;

  background: transparent;

  outline: none;
  border: 1px solid var(--gray-op03-bgcinput);
  border-radius: 4px;
}

.form-footer-input,
.form-footer-input::placeholder {
  font-size: 16px;
  line-height: 1.25;

  color: var(--gray-op06-text);
}

.form-footer [type='submit'] {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;

  background-color: var(--blue-text);
  color: var(--color-white);

  box-shadow: 0px 4px 4px var(--send-shadow);

  border-radius: 4px;
  border: none;

  padding: 10px 28px;

  display: flex;
  align-items: center;
}

.form-footer .icon {
  margin-left: 10px;
  margin-right: 0;
}

/*Портфолио*/

.main {
  background-color: var(--color-white);
}

/*portfolio button*/

.main-portfolio .container {
  padding-top: var(--pad-container);
  padding-bottom: var(--pad-container);
}

.main-portfolio-list .bt {
  font-family: 'Roboto', sans-serif;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--bgr-wgray);

  padding: 6px 22px;
  border-radius: 4px;

  transition: background-color var(--transition-duration)
      var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function),
    box-shadow var(--transition-duration) var(--transition-timing-function);
}

.main-portfolio-list .bt:hover,
.main-portfolio-list .bt:focus {
  background-color: var(--blue-text);
  color: var(--color-white);
  box-shadow: var(--filtr-shadow);
}

.main-portfolio-list {
  display: flex;
}

.container-list {
  max-width: 612px;
  margin: 0 auto;
  padding-bottom: 22px;
}

.main-portfolio-list .item:not(:last-child) {
  margin-right: 8px;
}

/*project*/

.main-portfolio-project .name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-text);
}

.main-portfolio-project .project {
  font-size: 16px;
  line-height: 1.87;
  color: var(--gray-text);
}

.container-project {
  padding-top: 34px;
}

.main-portfolio-project {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--set-gap));
  margin-top: calc(-1 * var(--set-gap));
}

.main-portfolio-project > .item {
  flex-basis: calc(100% / 3 - var(--set-gap) - 3px);
  margin-left: var(--set-gap);
  margin-top: var(--set-gap);

  border-left: 1px solid var(--gray-border);
  border-right: 1px solid var(--gray-border);
  border-bottom: 1px solid var(--gray-border);
}

.main-portfolio-project .link {
  height: 100%;
  text-decoration: none;

  display: block;

  transition: box-shadow var(--transition-duration)
    var(--transition-timing-function);
}

.main-portfolio-project .link:hover,
.main-portfolio-project .link:focus {
  box-shadow: var(--portfolio-card-shadow);
}

.main-portfolio-project .frame-name-project {
  padding: 20px 24px;
}

.main-portfolio-project .project {
  margin-top: 4px;
}

/*Синий оверлей с текстом на карточках страницы Портфолио*/
.main-portfolio-project .thumb {
  position: relative;
  overflow: hidden;
}

.main-portfolio-project .card-visually-hidden {
  font-size: 18px;
  line-height: 1.56;

  color: var(--color-white);
  background-color: var(--bgr-blue-card);

  padding: 63px 24px;

  position: absolute;

  transform: translatey(0);
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}

.main-portfolio-project .link:hover .card-visually-hidden,
.main-portfolio-project .link:focus .card-visually-hidden {
  transform: translatey(-100%);
}

/*модальное окно*/
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;

  width: 100%;
  height: 100%;

  background-color: var(--bgr-backdrop);

  opacity: 1;
  transition: opacity var(--transition-duration)
    var(--transition-timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.backdrop .modal {
  position: absolute;
  left: 50%;
  top: 50%;

  min-width: 447px;
  padding: 40px;

  background-color: var(--color-white);
  box-shadow: var(--team-shadow);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}

.modal-close-bt {
  border-radius: 50%;
  border: 1px solid var(--border-black01);
  background-color: var(--color-white);
  outline: none;

  padding: 8px 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 8px;
  right: 8px;

  transition: color var(--transition-duration) var(--transition-timing-function);
}

.backdrop .icon {
  margin: 0;
  fill: currentColor;
}

.backdrop .modal-close-bt:hover,
.backdrop .modal-close-bt:focus {
  color: var(--blue-text);
}

/*FORM-MODAL*/

.modal-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.05;
  text-align: center;

  margin-bottom: 12px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-field:not(:first-child) {
  margin-top: 10px;
}

.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--gray-text);
}

.form-input-wrapper {
  position: relative;
  margin-top: 4px;
}

.form-input {
  font-family: inherit;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--black-text);
  background-color: var(--color-white);

  width: calc(100% - 84px);
  height: 16px;

  padding: 11px 42px;

  border: 1px solid var(--border-input);
  border-radius: 4px;
  outline: none;

  transition: border var(--transition-duration)
    var(--transition-timing-function);
}

.form .icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translatey(-50%);

  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.form textarea::placeholder {
  color: var(--gray-text05);
}

.form textarea {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  resize: none;
  width: calc(100% - 32px);
  min-height: 96px;

  padding: 12px 16px;
}

.form-input-wrapper:hover .icon,
.form-input-wrapper:focus .icon,
.form-input:focus + .icon,
.form-label:hover + .form-input-wrapper .icon {
  fill: var(--blue-text);
}

.form-input-wrapper:hover .form-input,
.form-input-wrapper:focus .form-input,
.form-input:focus,
.form-label:hover + .form-input-wrapper .form-input {
  border: 1px solid var(--blue-text);
}

/*CheckBox*/
.form-field-agreements {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--gray-text);

  margin-top: 20px;
  padding: 0 12px;

  display: flex;
}

.form-label-agreements {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.form-link-agreements {
  color: var(--blue-text);
  text-decoration-line: underline;

  margin-left: 5px;
}

/*.form .icon-check {
  margin-right: 8px;

  fill: currentColor;
}



.form-checkbox:checked + .icon-check {
  background-image: url(../images/check-send.svg);
  color: var(--blue-text);
}*/

/*TEST*/
.field-check {
  position: relative;
  overflow: hidden;

  width: 16px;
  height: 15px;

  margin-right: 8px;

  border-radius: 3px;
}

.form .icon-check {
  position: absolute;
  left: 0;
  top: 0;
  fill: currentColor;
}

.form .icon-check.send {
  position: absolute;
  left: 0;
  top: 15px;

  border: 1px solid var(--blue-text);
}

.form-checkbox:checked + .field-check .icon-check.send {
  top: 0;
  background-color: var(--blue-text);
  color: var(--color-white);
}
/**/

.form [type='submit'] {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;

  background-color: var(--blue-text);
  color: var(--color-white);

  box-shadow: 0px 4px 4px var(--send-shadow);

  border-radius: 4px;
  border: none;

  padding: 10px 55px;
  margin: 30px auto 0 auto;

  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

.form [type='submit']:hover,
.form [type='submit']:focus {
  background-color: var(--blue-bgc-hover-send);
}
