.container--section-customers {
  padding-top: var(--pad-container);
  padding-bottom: var(--pad-container);
}

.section-customers__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-bottom: 70px;
}

.section-customers__list {
  display: flex;
  flex-wrap: wrap;

  margin-left: calc(-1 * #{var(--set-gap)});
  margin-top: calc(-1 * #{var(--set-gap)});
}

.section-customers__item {
  flex-basis: calc(100% / 6 - #{var(--set-gap)});
  margin-left: var(--set-gap);
  margin-top: var(--set-gap);
}

.section-customers__link {
  min-height: 88px;
  border-radius: 4px;

  color: var(--color-gray-customers);
  border: 1px solid var(--color-gray-customers);

  display: flex;
  justify-content: center;
  align-items: center;

  @include transition(border-color, color);

  &:hover,
  &:focus {
    color: var(--color-blue);
    border-color: var(--color-blue);
  }
}
