.container--section-specialization{
    padding-bottom: var(--pad-container);
}

.section-specialization__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.section-specialization__list{
    display: flex;
    flex-wrap: wrap;

    margin-top: 50px;
    margin-right: calc(-1 * var(--set-gap));
}

.section-specialization__item{
    flex-basis: calc(100% / 3 - #{var(--set-gap)});
    margin-right: var(--set-gap);
}

.section-specialization__thumb{
    position: relative;
}
  
.section-specialization__name{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;

    color: var(--color-white);

    width: 100%;
  
    background-color: var(--color-gray08);
    padding-top: 27px;
    padding-bottom: 27px;
  
    position: absolute;
    left: 0;
    bottom: 0;
}